
/* Main Nav & Hamburger*/
@media screen and (min-width: 400px) {
  #sticky-nav-con {
     position: sticky;
     background: url(../images/Header-wood-450.png) no-repeat;
     margin-bottom: 20px;
  }
}

#main-nav label img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease;
  margin-top: 20px;
  margin-bottom: 20px;
}

#burger-con {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#main-nav:hover #burger-con {
  display: block;
}

#main-nav img:hover {
  transform: rotate(90deg);
}

#main-nav ul li a:hover {
  color: #E11F26;
  font-size: larger;
}

#main-nav ul {
  list-style: none;
  margin-top: 8px;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0px 10px 0px;
  text-align: start;
  color: #767070;
}

#main-nav ul li {
  border-bottom: 1px solid #38393A;
}

#main-nav ul li:first-child {
  border-top: 1px solid #38393A;
}

#main-nav ul li:last-child {
  margin-bottom: 8px;
}

#main-header-t {
  display: none;
}

#footer-nav-t {
  display: none;
}

/* Header */
#logo img {
  width: 200px;
  padding-top: 20px;
}

#enjoy-now img {
  margin-top: 40px;
  width: 80px;
  cursor: pointer;
}

#enjoy-now img:hover {
    transform: rotate(30deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(20px 6px 10px rgb(98, 97, 97));
}

/* Hero Image */
#hero img {
  grid-column: 1/-1;
  grid-row: 1/1;
  justify-self: center;
}

/* About Us */
.about-con {
  margin-left: 20px;
  margin-right: 20px;
}

/* New Flavors */
.new-flavors {
  margin-left: 20px;
  margin-right: 20px;
}

#product img {
  width: 80%;
  padding-left: 38px;
  padding-bottom: 8px;
}

#icons-container h3 {
   text-decoration: underline;
   font-size: 22px;
   background-color:#E11F26;
   color: #fff;
   border-radius: 30px;
   padding-top: 10px;
   padding-bottom: 4px;
}

#icons-container object {
  width: 80%;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  background-color:#EFE3BB;
}

p, h1, h2, h3, h4, h5 {
  line-height: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: -2px;
  text-shadow: 0px 3px hsl(0, 0%, 100%);
  margin-bottom: 15px;
  color: rgb(67, 52, 21);
}

p {
  color: #38393A;
}

 /* Footer Styling */

#footer-hero {
  background: url(../images/Wood-footer-img_rfqsbv_c_scale\,w_1508.png) no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer-logo img {
  width: 40%;
}

#footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #433415;
}

#footer-nav ul li a:hover {
  color: #E11F26;
  font-size: larger;
}

#footer-social-icons {
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer-social-icons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#footer-contact {
  text-align: center;
}

#privacy-policy {
  text-align: center;
}


/* Contact Form */
 #contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form textarea {
   height: 250px;
}

#contact-hero-form input[type="submit"] {
  padding: 12px 28px;
  background:#E11F26;
  color: #fff;
  border: none;
  transition: all 200ms ease-in;
  width: 150px;
  cursor: pointer;
  align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
  background-color: #767070;
  width: 300px;
  border-radius: 5px;
}

#contact-hero-form input[value="Send"]:hover{
  Color: #fff;
  padding-right: 40px;
  text-decoration: underline;
  font-size: 20px;
}

/* Tablet Library Grid Styles */
@media screen and (min-width: 768px) {
  #sticky-nav-con {
     position: sticky;
     background: url(../images/Header-wood-1200.png) no-repeat;
     margin-bottom: 20px;
  }

  #button {
    display: none;
  }

  #main-header {
    display: none;
  }

  #main-header-t {
    display: flex;
    justify-content: space-around;
  }

  #logo-t img {
    width: 150%;
    padding-top: 20px;
    padding-right: 20px;
  }

  #burger-con-t {
    padding-top: 30px;
  }

  #burger-con-t ul li {
    list-style: none;
    margin-right: 5px;
    display: inline;
  }

  #burger-con-t ul li a {
    color: #38393A;
    padding-left: 10px;
    font-size: 18px;
  }

  #burger-con-t ul li a:hover {
    color: #E11F26;
    font-weight: bold;
  }
  
  #enjoy-now-t img {
    margin-top: 20px;
    margin-right: 20px;
    width: 80px;
    cursor: pointer;
  }

  #enjoy-now-t img:hover {
      transform: rotate(30deg);
      transition: all 1s ease-in-out;
      filter: drop-shadow(20px 6px 10px rgb(98, 97, 97));
  }
 
  #footer-nav {
    display: none;
  }

  #footer-nav-t {
    display: grid;
  }

  #footer-hero #footer-logo img {
    padding-top: 20px;
    width: 25%;
  }

  #footer-nav-t ul li {
    list-style: none;
    display: inline;
    text-align: center;
  }

  #footer-nav-t ul li a{
    color: #38393A;
    padding-right: 40px;
    font-size: 18px;
  }

  #footer-nav-t ul li a:hover {
    color:#E11F26;
    font-size: larger;
  }
}

/* Desktop Library Grid Styles */
@media screen and (min-width: 1200px) {
  #burger-con-t {
    padding-top: 55px;
    padding-left: 30px;
  }

  #burger-con-t ul li {
    list-style: none;
    margin-right: 5px;
    display: inline;
  }

  #burger-con-t ul li a {
    color: #38393A;
    padding-left: 40px;
    font-size: 20px;
  }

  #enjoy-now-t img {
    margin-top: 30px;
    margin-right: 20px;
    width: 100px;
  }




}