/* Main Nav */

/* Hamburger*/
#main-nav label img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#main-nav, #burger-con {
  margin-top: 8px;
  margin-bottom: 8px;
  display: none;
}

#main-nav input, #burger-con {
  display: none;
}

#main-nav input:checked ~ #burger-con {
  display: block;
}

#main-nav input:checked ~ label img {
  transform: rotate(90deg);
}

#main-nav, #burger-con:hover {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

#main-nav ul li a:hover {
  color: #E11F26;
  font-size: larger;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  text-align: start;
  color: #767070;
}

#main-nav ul li {
  border-bottom: 1px solid #38393A;
}


#main-nav ul li:first-child {
  border-top: 1px solid #38393A;
}

#main-nav ul li:last-child {
  margin-bottom: 8px;
}


#logo {
  width: 100%;
}

#enjoy-now img {
  margin-top: 50px;
  margin-right: 20px;
  width: 80px;
  cursor: pointer;
}

#enjoy-now img:hover {
    transform: rotate(30deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(20px 6px 10px rgb(98, 97, 97));
}

.about-con {
  margin-left: 20px;
  margin-right: 20px;
}

.new-flavors {
  margin-left: 20px;
  margin-right: 20px;
}

/* Hero Image */
#hero img {
  width: 450px;
}

#product img {
  width: 400px;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  background: url(../images/Header-wood-450.png) no-repeat;
}

p, h1, h2, h3, h4, h5 {
  line-height: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: -2px;
  text-shadow: 0px 3px hsl(0, 0%, 100%);
  margin-bottom: 15px;
  color: rgb(67, 52, 21);
}

p {
  color: #38393A;
}

object {
  width: 100%;
}

/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: hwb(34 67% 13%);
}


/* General Rules */

img embed, object, video, picture {
    max-width: 100%;
 }

 p, h1, h2, h3, h4, h5 {
    line-height: 20px;
 }

#logo {
    max-width: 100%;
 }

h2 {
   text-align: center;
   font-size: 30px;
   letter-spacing: -2px;
   text-shadow: 0px 3px hsl(0, 0%, 100%);
   margin-bottom: 15px;
   color: rgb(67, 52, 21);
}
p {
   color: #383636;
}

object {
   width: 200%;
}




 
 /* Footer Styling */

footer {
  background: url(../images/Wood-footer.png) no-repeat;
  padding: 20px 0;
}

footer #logo {
  width: 
}



#footer-contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #433415;
}

#footer-social-icons {
  display: block;
  align-items: center;
}

#footer-social-icons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#footer-social-icons ul li {
  margin: 0 10px;
}

#footer-social-icons ul img {
  width: 30px;
  height: 30px;
}

#footer-contact {
  text-align: center;
}

#footer-contact p {
  margin: 0;
}

#footer {
  text-align: center;
  margin-top: 20px;
}

#price-policy {
  margin: 0;
}

/* Social Media Icons Styling */
#footer-social-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#footer-social-icons img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
 /* Responsive Design */
 @media (max-width: 768px) {
   #main-nav ul {
     flex-direction: column;
     align-items: center;
   }
 
   #main-nav ul a {
     padding: 10px 0;
   }
 }
 
 #contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form textarea {
   height: 250px;
}

#contact-hero-form input[type="submit"] {
   padding: 12px 28px;
   background: #9a2018;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 150px;
   align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
   background-color: #626262;
   border-radius: 0;
}




